<section class="user-section">
  <div>
  <h2 class="inline"><%= "Name: #{@user.name}" %></h2>
          <% if !(@current_user.id == @user.id) %>
          <% if (request_friendship(@user)) == 2 %>
          <h4 class = "accept">
            <%= link_to 'Accept request', accept_user_path(:id => @user.id), id: "accept" %>
          </h4>
          <h4 class="reject" > 
            <%= link_to 'Reject request', reject_user_path(:id => @user.id), id: "reject" %>
          </h4>
        <% elsif (request_friendship(@user)) == 1 %>
          <%= link_to 'Unfriend', unfriend_user_path(:id => @user.id), class: "link"%>
        <% elsif (request_friendship(@user)) == 3 %>
          <%= link_to 'Cancel Request', cancel_user_path(:id => @user.id), class: "link"%>
        <% else (request_friendship(@user)) == 4 %>
          <%= link_to 'Request Friendship', send_friendship_user_path(:id => @user.id), class: "link", id: "send-request" %>
        <% end %>
          <% end %>
          </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>