<% @pending_request.each do |p| %>
  <% if @user == current_user %>
    <%= p.name.capitalize %> wants to be your friend
    <div class="friend-btn">
      <%= confirm_button(p) %>
    </div>
  <% end %>
<% end %>
<%= friendship_button_show(@user) %>
<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
